.ProductPage {
  display: flex;
  padding: 20px;
  background: var(--background);
}

.ProductPage-images {
  width: 50%;
  margin: 0 20px;
}

.ProductPage-info {
  width: 50%;
  margin: 0 20px;
}

.ProductPage-buttons {
  display: flex;
  align-items: center;
}

.ProductPage-product-counter {
  min-width: 120px;
  margin-right: 15px;
}

.ProductPage-product-title {
  font-family: var(--primary-font);
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 400;
  width: 80%;
  margin-bottom: 10px;
  letter-spacing: var(--letter-spacing);
}

.ProductPage-description {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 0.85rem;
  font-weight: 400;
  width: 80%;
  line-height: 1.25rem;
  margin-bottom: 30px;
  letter-spacing: 0.05em;
}

.ProductPage-accordion {
  width: 80%;
  margin-top: 30px;
}

.ProductPage-product-price {
  margin-top: 20px;
  margin-bottom: 30px;
}

.ProductPage-wish-list {
  color: var(--accent-color);
  text-decoration: underline;
  font-family: var(--primary-font);
  font-size: 0.8rem;
  letter-spacing: var(--letter-spacing);
  font-weight: 500;
}

.ProductPage-shipping {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 0.8rem;
  letter-spacing: var(--letter-spacing);
  font-weight: 500;
}

@media only screen and (max-width: 1100px) {
  .ProductPage {
    flex-direction: column;
  }

  .ProductPage-images {
    width: 100%;
  }

  .ProductPage-info {
    width: 100%;
  }

  .ProductPage-accordion {
    width: 100%;
  }

  .ProductPage-button {
    width: 100%;
  }
}
